.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .section1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
}
