@media screen and (min-width: 768px) {
  .flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Inter", sans-serif;
    font-size: 1.2em;
    width: 100%;
    height: 57px;
  }

  .topBar {
    padding: 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topBarSearch {
    form {
      position: relative;
      width: 25vw;
      border-radius: 5px;
    }
    input,
    button {
      height: 100%;
      border: 0;
      font-size: 1em;
    }
    .search {
      background-color: #fff;
      outline: 0;
      height: 40px;
      width: 100%;
      padding: 0 1.6rem;
      border-radius: 5px;
      position: relative;
    }
    button {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      font-weight: bold;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
    }
    input:not(:placeholder-shown) {
      border-radius: 5px 0 0 5px;
      width: calc(100% - 20px);
      + button {
        overflow: hidden;
        display: block;
        background-color: #20ccc4;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .topBarSide {
    display: flex;
    gap: 1rem;
    .sectionLink {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;
      &:hover {
        background-color: #20ccc4;
        border-radius: 5px;
      }
    }
    button {
      display: flex;
      border: none;
      align-items: center;
      background-color: transparent;
      padding: 0.5rem 0;
      cursor: pointer;
      &:hover {
        background-color: #20ccc4;
        border-radius: 5px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Inter", sans-serif;
    font-size: 1.2em;
    width: 100%;
    height: 57px;
  }

  .topBar {
    padding: 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .topBarSearch {
    display: none;
  }

  .topBarSide {
    display: flex;
    gap: 1rem;
    .sectionLink {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;
      &:hover {
        background-color: #20ccc4;
        border-radius: 5px;
      }
    }
    button {
      display: flex;
      border: none;
      align-items: center;
      background-color: transparent;
      padding: 0.5rem 0;
      cursor: pointer;
      &:hover {
        background-color: #20ccc4;
        border-radius: 5px;
      }
    }
  }
}
