.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;

  .booking {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    background-color: #dadada;

    .calendar {
      margin-bottom: 20px;

      .calendarHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        color: #20ccc4;
        font-size: 1.2em;
        font-weight: 600;
        button {
          background-color: #20ccc4;
          color: #fff;
          border: none;
          padding: 5px 10px;
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          }
        }
      }

      .dates {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;

        .date {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          font-size: 1em;
          border: 1px solid #ccc;
          border-radius: 3px;
          background-color: #ccc;
          cursor: not-allowed;
        }
        .availableDate {
          background-color: #fff;
          cursor: pointer;
          &:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          }
        }
        .selectedDate {
          background-color: #20ccc4;
          color: #fff;
          cursor: pointer;
        }
      }
    }

    .slots {
      padding: 10px 0;
      width: 100%;
      .slotGrid {
        margin-top: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .slot {
          width: 180px;
          background-color: #fff;
          color: #121212;
          padding: 5px 10px;
          border-radius: 3px;
          cursor: pointer;
          &:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          }
        }
        .selectedSlot {
          background-color: #20ccc4;
          color: #fff;
        }
      }

      .continueButton {
        margin: 1rem auto;
        padding: 10px 20px;
        background-color: #20ccc4;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 1.5em;

        &:hover {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
      }

      .reschedulingNotice {
        font-size: 0.9em;
        color: #555;
      }
    }
  }
}
